/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--text-weight);
  font-size: var(--font-size);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.header {
  width: var(--page-width);
  font-family: var(--font-accent);
  font-weight: var(--text-weight);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: 2px solid var(--color);
  background-color: var(--background-color);
  padding-block: 128px;
  margin-block:103px;
}

.header__logo {
  font-size: var(--header-logo-font-size);
  font-weight: var(--text-weight);
  line-height: 100%;
  margin-block-end: 20px;
}

.header__title {
  font-size: var(--header-title-font-size);
}

.main {
  display: grid;
  margin-block-end: 100px;
  justify-self: center;
}

.article {
  outline: 2px solid var(--color);
  max-width: 696px;
  background-color: #fff;
  margin-bottom: 54px;
}

.article__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--title-weight);
  color: var(--color);
  background-color: var(--background-color);
  font-size: var(--font-size);
}

.article__img_wrapper {
  position: relative;
  margin: 0px 0px 5px 0px;
  outline: var(--main-border);
}

.label__card {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-weight: var(--text-weight);
  font-size: var(--font-size-card-label);
  text-shadow: 0 0 3px var(--shadow-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
}

.article__info {
  padding: 24px 24px 25px 26px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.article__image {
  display: flex;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  max-block-size: 100%;
  align-items: center;
}

.filter__brightness {
  filter: brightness(150%);
}

.filter__opacity {
  filter: opacity(0.9);
}

.filter__hue-rotate {
  filter: hue-rotate(-30deg);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__invert {
  filter: invert(0.10);
}

.filter__grayscale {
  filter: grayscale(1.0);
}

.filter__blur {
  filter: blur(0.12rem);
}

.filter__multy {
  filter: sepia(1) hue-rotate(264deg) saturate(289%);
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.sparks {
  opacity: 0;
}

.floppy__svg {
  width: 21px;
  height: 21px;
}

.dialog_floppy_svg {
  width: 50px;
  height: 50px;
}

.card__like-button {
  padding-block: 8px;
  align-self: end;
  width: 130px;
}

.card__icon-button {
  height: 34px;
  display: flex;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  align-self: center;
  padding-inline: 0;
}

.mix__difference {
  fill: white;
  color:#fff;
  background-color: transparent;
}

.button__block {
  display: flex;
  align-self: end;
  gap: 7px;
}

.save__button {
  width: 340px;
  min-height: 55px;
  gap: 4px;
  display: flex;
  justify-self: center;
}
.decorated__button {
  align-items: center;
  background-color: white;
  border: 2px solid var(--color);
  color: white;
  cursor: pointer;
  font-family: var(--font-accent);
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.decorated_button_text {
  font-size: var(--button-font-size);
  mix-blend-mode: difference;
  margin-right: 5px;
}

.decorated__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.decorated__button:focus-visible {
  outline: 2px solid var(--color);
}

.decorated__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 1px var(--color);
}
.decorated__button:hover::before {
  translate: 0%;
}
.floppy__dialog[open] {
  flex-shrink: 0;
  border: var(--main-border);
  padding: 30px;
  inline-size: 354px;
}

.floppy__dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.floppy_dialog[open]) {
  overflow: hidden;
}
.dialog__description {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-bottom: 27px;
  padding-top: 5px;
}

.dialog__button {
  inline-size: 100%;
  min-block-size: 38px;
}

.dialog__label {
  align-self: flex-start;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  width: fit-content;
}

@media (width <= 375px) {
  .footer {
  width: 100%;
  }
  .header {
  margin-top: 27vw;
  margin-bottom: 28vw;
  block-size: 325px;
  }
  .header__title {
  line-height: 49px;
  letter-spacing: normal;
  }
  .card__label {
  top: 20px;
  right: 10px;
  }

  .save__button {
  flex-direction: column;
  width: 312px;
  height: 84px;
  gap: 4px;
  }

  .floppy__svg {
  width: 32px;
  height: 32px;
  }
  .decorated_button_text {
  margin-right: 2px;
  margin-bottom: 4px;
  }
}